# Arquivos objeto
*.o
*.obj

# Arquivos executaveis
*.out
*.app

# Pastas de compilacao e debug
obj/
Release/

# Arquivos do Code::Blocks
*.depend
*.layout
*.cbp

# Arquivos de log e crash do SO
*.log
.DS_Store